html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.legend {
    display: flex;
}

.legend-btn {
    color: white;

    padding: 10px 20px;

    border-radius: 4px;
}

.legend-btn:hover {
    color: white;
    text-decoration: none;
}

.legend-btn:focus {
    color: white;
    text-decoration: none;
}

.legend-btn:active {
    color: white;
    text-decoration: none;
}

.legend-btn:active, .legend-btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.legend-btn-rule {
    background-color: #F42B03;
    border-color: #9a1902;
}

.legend-btn-rule:hover {
    background-color: #9a1902;
    border-color: #500d01;
}

.legend-btn-rule.disabled {
    background-color: #500d01;
    border-color: #2a0701;
}

.legend-btn-event {
    background-color: #009a97;
    border-color: #005b58;
}

.legend-btn-event:hover {
    background-color: #005b58;
    border-color: #00302e;
}

.legend-btn-event.disabled {
    background-color: #00302e;
    border-color: #000909;
}
.legend-btn-action {
    background-color: #EC7505;
    border-color: #a15003;
}

.legend-btn-action:hover {
    background-color: #a15003;
    border-color: #4f2701;
}

.legend-btn-action.disabled {
    background-color: #4f2701;
    border-color: #1e0f00;
}

/* Доработки */
.dropdown-wrap {
    display: flex;
    align-items: center;
}

.dropdown-wrap .form-group {
    width: 100%;
}
.dropdown-wrap .btn {
    margin-left: 15px;
}